---

---

<section class="bg-white w-full">
  <section class="flex justify-center pt-[4.02rem]">
    <h1 class="font-bold text-4xl text-navyBlue">About</h1>
  </section>
  <section class="px-[7.125rem]">
    <section class="flex justify-between pt-[9.438rem]">
      <section>
        <section class="flex flex-col">
          <p class="text-lightBlue font-semibold text-lg">Hello Everyone 👋, my name is</p>
        </section>
      </section>
      <section>a</section>
    </section>
  </section>
</section>
