---
import ContactButton from "../components/ContactButton.astro";
import { Image } from "astro:assets";
import pp from "../assets/pp.png";
---

<section id="about" class="bg-white w-full min-h-screen py-16">
  <section class="flex justify-center">
    <h1 class="font-bold text-4xl text-navyBlue" data-aos="fade-down" data-aos-duration="1000">About</h1>
  </section>
  <section class="px-4 lg:px-[7.125rem]">
    <section class="flex flex-wrap lg:justify-between py-[4.02rem] items-center">
      <section>
        <section class="flex flex-col">
          <p class="text-lightBlue font-semibold lg:text-lg" data-aos="fade-up-right" data-aos-duration="1000" data-aos-offset="200">
            Hello Everyone 👋, my name is <span class="text-navyBlue block font-bold text-4xl my-1 lg:pb-3">Juan</span>
          </p>
          <p class="text-lg text-gray-500 font-medium mb-5" data-aos="fade-up-right" data-aos-duration="1000" data-aos-offset="200">Full Stack Web Developer</p>
          <p class="lg:my-7 mb-5 block text-gray-500" data-aos="fade-up-left" data-aos-duration="1000" data-aos-offset="200">I like to learn <span class="text-navyBlue font-bold">new technology</span></p>
          <ContactButton />
        </section>
      </section>
      <section class="relative mt-7 lg:mt-0" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="300" data-aos-offset="200">
        <Image src={pp} alt="Developer Image" width={400} height={400} loading="lazy" class="relative z-10" />
        <span class="absolute bottom-0">
          <svg viewBox="0 0 200 200" width="400" height="400" xmlns="http://www.w3.org/2000/svg">
            <path
              fill="#3692FA"
              d="M49.3,-67.2C60.1,-60,62.5,-40.5,64.1,-23.6C65.7,-6.7,66.6,7.6,63.8,22.1C61,36.6,54.4,51.2,43.2,61.4C31.9,71.5,16,77.1,-0.7,78.1C-17.4,79.1,-34.8,75.5,-46.9,65.6C-59,55.8,-65.9,39.7,-71.7,23C-77.5,6.3,-82.3,-11,-77.2,-24.6C-72.2,-38.3,-57.3,-48.3,-42.8,-54.4C-28.3,-60.4,-14.1,-62.4,2.5,-65.9C19.2,-69.5,38.5,-74.4,49.3,-67.2Z"
              transform="translate(100 100)"></path>
          </svg>
        </span>
      </section>
    </section>
    <section class="flex lg:justify-between w-full mt-7 lg:mt-32">
      <section class="lg:w-1/2" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-offset="200">
        <p class="text-lightBlue font-semibold text-xl">About Me</p>
        <hr class="border-lightBlue my-2" />
        <p class="text-gray-500 font-medium">Hello, my name is Juan, I am from Indonesia, and I am now a full stack web developer, aiming to help create websites from the front-end and from the back-end for those who need it.</p>
      </section>
      <section></section>
    </section>
  </section>
</section>
