---
import ContactButton from "../components/ContactButton.astro";
---

<section id="home" class="relative min-h-[50.625rem] overflow-x-hidden">
  <div class="absolute inset-0 bg-[url('../src/assets/programming.jpg')] bg-cover bg-center bg-no-repeat"></div>
  <div class="relative flex flex-col items-center justify-center min-h-[50.625rem] gap-y-[3.125rem] bg-black/70 px-4">
    <h1 class="max-w-[40rem] text-4xl md:text-5xl lg:text-7xl font-semibold text-center text-white">Professional Website for Your Business</h1>
    <p class="text-md lg:text-lg text-white">Ready to buy? Contact now.</p>
    <ContactButton />
  </div>
</section>
