---
import ContactButton from "../components/ContactButton.astro";
---

<section id="home" class="min-h-[50.625rem]" style={`background-image: url("../src/assets/programming.jpg"); background-size: cover; background-position: center; height: 100vh;`}>
  <section id="home" class="flex flex-col gap-y-[3.125rem] items-center justify-center bg-black min-h-[50.625rem] bg-opacity-70 z-10 text-white">
    <h1 class="max-w-[40rem] max-h-[15.75rem] text-7xl font-semibold text-center" data-aos="zoom-in">Professional Website for Your Business</h1>
    <p class="text-lg">Ready to buy? Contact now.</p>
    <ContactButton />
  </section>
</section>
