---
import Navbar from "../ui/Navbar.tsx";
---

<section class="flex items-center w-screen h-[3.688rem] bg-defaultfBlack">
  <p class="text-white font-bold">M<span class="text-lightBlue">rC</span></p>
</section>
