---
import Carousel from "../components/Carousel.astro";
---

<section class="bg-navyBlue">
  <section class="flex flex-col">
    <section class="flex flex-col items-center my-[4.02rem] gap-y-3">
      <h1 id="portfolio" class="text-lightBlue font-bold text-4xl">Portfolio</h1>
      <p>here are my latest projects</p>
    </section>
    <Carousel />
  </section>
</section>
