---
import ProjectCarousel from "../components/Carousel";
import miniProjects from "../collection/miniProjects.json";
import websites from "../collection/websites.json";

interface Project {
  id: number;
  name: string;
  description: string;
  image: string;
  alt: string;
  url: string;
}

const mProjects: Project[] = miniProjects;
const websitesProjects: Project[] = websites;
---

<section id="portfolio" class="bg-navyBlue min-h-[50.625rem] py-[4.02rem]">
  <section class="flex flex-col">
    <section class="flex flex-col items-center gap-y-3">
      <h1 id="portfolio" class="text-lightBlue font-bold text-4xl" data-aos="fade-right" data-aos-duration="1000">Portfolio</h1>
      <p data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">here are my latest projects</p>
    </section>
    <ProjectCarousel client:idle title="Websites" projects={websitesProjects} />
    <ProjectCarousel client:idle title="Mini Projects" projects={mProjects} />
  </section>
</section>
