---
import SkillCards from "../components/SkillCards";
---

<section id="skill" class="bg-lightBlue w-full min-h-[50.625rem] py-[4.02rem]">
  <section class="flex flex-col items-center gap-y-3">
    <h1 class="text-navyBlue font-bold text-4xl">Skill</h1>
    <p class="text-white mb-11">These are some of the Tech Stack I've learnt</p>
  </section>
  <SkillCards client:idle />
</section>
